.insta__status-bar{
    position: fixed;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--backcolor);
}

.insta__status-bar__column{
    width: 33.3%;
}

.insta__status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.insta__status-bar__column i{
    padding-right: 30px;
}

.insta__status-bar__logo{
    width: 100px;
    height: 50px;
    padding-left: var(--bezel);
}