.phone__status-bar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    background-color: var(--backcolor);
}

.phone__status-bar__column{
    width: 33.3%;
}


.phone__status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
}

.phone__status-bar__column i{
    padding: 5px;
}

.phone__status-bar h4{
    margin: 5px var(--bezel);
}